<!doctype html>
<html lang="en">
  <head>
    <title>Loan Calculator</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  </head>
  <body class="bg-success">
    <div class="container" style="padding-bottom: 70px; ">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card card-body text-center mt-5 ">
            <h1 class="heading display-5 pb-3">Currency Converter</h1>

            <form style="text-align: center;">
              <select style="text-align: center;"  (change)="SetDropDownValue($event)">
                <option value="default">Select</option>
        
                <option value="one">Rupees</option>
        
                <option value="two">US Dollar</option>
        
                <option value="three">Dariham</option>
        
                <option value="four">Pounds</option>
              </select>
              
              <input type="text" type="text"  id="amount" style="width: 100%; font-weight: bold;margin-top: 10px;" name="amt" placeholder="Amount" [(ngModel)]="amount">
            
        
            </form>

            
    <table class="table table-borderless table table-hover mt-4">
      <thead>
        <tr>
          <th scope="col">Country</th>
          <th scope="col">Currency Sign</th>
          <th scope="col">Currency Value</th>
          
        </tr>
      </thead>
      <tbody>
        <tr [ngSwitch]='dropDownValue' style="text-align: center;">
          <th scope="row">India</th>
          <td>Rupees(&#x20B9;)</td>
          
            <td *ngSwitchCase="'one'">{{amount}}</td>
          <td *ngSwitchCase="'two'">{{amount/0.0141362}}</td>
          <td *ngSwitchCase="'three'">{{amount/0.010859}}</td>
          <td *ngSwitchCase="'four'">{{amount/0.0446079}}</td>
          <td *ngSwitchDefault>0</td>
        
       
        </tr>
        <tr [ngSwitch]='dropDownValue' style="text-align: center;">
          <th scope="row">USA</th>
          <td>US Dollar(&#36;)</td>
          <td *ngSwitchCase="'one'">{{amount*0.0141362}}</td>
          <td *ngSwitchCase="'two'">{{amount}}</td>
          <td *ngSwitchCase="'three'">{{amount*1.13}}</td>
          <td *ngSwitchCase="'four'">{{amount*0.27}}</td>
          <td *ngSwitchDefault>0</td>
      
        </tr>
        <tr [ngSwitch]='dropDownValue' style="text-align: center;">
          <th scope="row">Britain</th>
          <td>Pounds(&#163;)</td>
          <td *ngSwitchCase="'one'">{{amount*0.010859}}</td>
          <td *ngSwitchCase="'two'">{{amount/1.13}}</td>
          <td *ngSwitchCase="'three'">{{amount}}</td>
          <td *ngSwitchCase="'four'">{{amount*0.24}}</td>
          <td *ngSwitchDefault>0</td>
        </tr>

        <tr [ngSwitch]='dropDownValue' style="text-align: center;">
          <th scope="row">Dubai</th>
          <td>Dariham(&#1583;)</td>
          <td *ngSwitchCase="'one'">{{amount*0.0446079}}</td>
          <td *ngSwitchCase="'two'">{{amount/0.27}}</td>
          <td *ngSwitchCase="'three'">{{amount/0.24}}</td>
          <td *ngSwitchCase="'four'">{{amount}}</td>
          <td *ngSwitchDefault>0</td>
         
        
        </tr>

      </tbody>
    </table>
            </div>
            </div>
            </div>
            </div>
    </body>
    </html>